{% extends "base.html" %}
{% block page_title %}Об авторе{% endblock %}
{% block static_css %}

{% load static %}
<link rel="stylesheet" href="{% static './pages/index.css' %}">

{% endblock %}

{% block static_js %}

{% load static %}
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/Purchases.js' %}"></script>

<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/CardList.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>

<script src="{% static './js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static 'indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'indexNotAuth.js' %}"></script>
{% endif %}

{% endblock %}


{% block content %}

<div class="main__header">
    <h1 class="main__title">Об авторе</h1>
</div>

<div>
<h3>Ну вот наконец-то подошло к концу обучение в Яндекс.Практикум :) <br><br>
 Это были одни самых интересных 9 месяцев в моей жизни. Почему? Ну как минимум потому, что я благодаря этим курсам сменил работу :)
    По сути именно за этим я сюда и пришёл. Это очень круто, что есть такие проекты, которые помогают изменить твою жизнь <br><br>
    На последок хочу сказать всем спасибо, кто помогал мне на этом не легком пути. Отдельно благодарен своей любимой жене, которая всегда меня
    поддерживала, спасибо тебе :-*

</h3>
</div>
{% endblock %}