{% extends "base.html" %}
{% block page_title %}Технологии{% endblock %}
{% block static_css %}

{% load static %}
<link rel="stylesheet" href="{% static './pages/index.css' %}">

{% endblock %}

{% block static_js %}

{% load static %}
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/Purchases.js' %}"></script>

<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/CardList.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>

<script src="{% static './js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static 'indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'indexNotAuth.js' %}"></script>
{% endif %}

{% endblock %}


{% block content %}
<div class="main__header">
<h1 class="main__title">Технологии</h1>
</div>
    <div>
<h3>Для реализации данного проекта были применены следующие технологии:<br>
    1. Python <br>
    2. Django <br>
    3. Django Rest Framework <br>
    4. PostgreSQL <br>
    5. Git <br>
    6. nginx <br>
    7. Яндекс.Облако <br>
    8. JavaScript
</h3>
</div>
{% endblock %}