{% extends "base.html" %}
{% block page_title %}Ссылка на восстановление пароля отправлена{% endblock %}
{% block static_css %}

{% load static %}
<link rel="stylesheet" href="{% static './pages/index.css' %}">

{% endblock %}

{% block content %}

        <div class="main__header">
            <h1 class="main__title">Ссылка на восстановление пароля отправлена</h1>
        </div>
        <p class="form__info-text">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>

{% endblock %}
