
<div class="card" data-id="120">
    <a href="#" class="link" target="_blank">
     {% load thumbnail %}
    {% thumbnail recipe.image "365x240" crop="center" upscale=True as im %}
      <img src="{{ im.url }}" alt="Изображение {{ recipe.title }}" class="card__image" title="{{ recipe.title }}">
    {% endthumbnail %}
    </a>
    <div class="card__body">
        <a class="card__title link" href="#" target="_blank">{{ recipe.title }}</a>

        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> 20 мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.user }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
    </div>
</div>