
<div class="card" data-id="{{ recipe.pk }}">
    <a href="{% url 'recipe' recipe.pk %}" class="link" target="_blank">
     {% load thumbnail %}
    {% thumbnail recipe.image "365x240" crop="center" upscale=True as im %}
      <img src="{{ im.url }}" alt="Изображение {{ recipe.title }}" class="card__image" title="{{ recipe.title }}">
    {% endthumbnail %}
    </a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.pk %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% if recipe.tag_breakfast %}
            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
            {% endif %}
            {% if recipe.tag_lunch %}
            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
            {% endif %}
            {% if recipe.tag_dinner %}
            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
            {% endif %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> 20 мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'user_recipe' recipe.author.username %}" style="color: black">{{ recipe.author }}</a></p>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="card__footer">
        {% include 'includes/purchases_button.html' %}
        {% include 'includes/favorite_button.html' %}
    </div>
    {% endif %}
</div>