{% extends "base.html" %} 
{% block title %} Ошибка 500 {% endblock %}

{% block static_css %}

{% load static %}
<link rel="stylesheet" href="{% static './pages/index.css' %}">

{% endblock %}

{% block static_js %}

{% load static %}
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/Purchases.js' %}"></script>

<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/CardList.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>

<script src="{% static './js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static 'indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'indexNotAuth.js' %}"></script>
{% endif %}

{% endblock %}


{% block content %}


<div class="row">
    <div class="col-md-12">
        <h1>Ошибка 500</h1>
        <p class="lead">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
        <p class="lead"><a href="{% url 'index' %}">Вернуться на главную</a></p>
    </div>
</div>

{% endblock %} 