{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block static_css %}

{% load static %}
<link rel="stylesheet" href="{% static './pages/form.css' %}">

{% endblock %}

{% block static_js %}

{% load static %}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/utils/debouncing.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}


{% block content %}

    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">{{ form.title.label }}</label>
                <div class="form__field-group">
                    <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form__input">
                    <span class="form__error">{{ form.title.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag_breakfast.name }}" id="{{ form.tag_breakfast.id_for_label }}" class="tags__checkbox tags__checkbox_style_orange">
                            <label for="{{ form.tag_breakfast.id_for_label }}" class="tags__label">{{ form.tag_breakfast.label }}</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag_lunch.name }}" id="{{ form.tag_lunch.id_for_label }}" class="tags__checkbox tags__checkbox_style_green" checked>
                            <label for="{{ form.tag_lunch.id_for_label }}" class="tags__label">{{ form.tag_lunch.label }}</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag_dinner.name }}" id="{{ form.tag_dinner.id_for_label }}" class="tags__checkbox tags__checkbox_style_purple">
                            <label for="{{ form.tag_dinner.id_for_label }}" class="tags__label">{{ form.tag_dinner.label }}</label>
                        </div>
                    </div>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.ingredient.id_for_label }}" class="form__label">{{ form.ingredient.label }}</label>
                <div class="form__field-group">
                    <p>{{ form.ingredient.all }}</p>
                    <div class="form__field-group-ingredientes">

                        <div class="form__dropdown">
                            <input type="text" id="{{ form.ingredient.id_for_label }}" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.time_cooking.id_for_label }}" class="form__label">{{ form.time_cooking.label }}</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="{{ form.time_cooking.id_for_label }}" name="{{ form.time_cooking.name }}" class="form__input">
                    <label for="id_time" class="form__label">минут</label>
                    <span class="form__error">{{ form.time_cooking.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.text.id_for_label }}" class="form__label">{{ form.text.label }}</label>
                <div class="form__field-group">
                    <textarea name="{{ form.text.name }}" id="{{ form.text.id_for_label }}" rows="8" class="form__textarea"></textarea>
                    <span class="form__error">{{ form.text.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <label for="{{ form.image.auto_id }}" class="form__file-button">{{ form.image.label }}</label>
                    <input type="file" class="form__file" name="image" id="id_image">
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">{{ save_button }}</button>
            </div>
        </form>
    </div>

{% endblock %}
