{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block static_css %}

{% load static %}
<link rel="stylesheet" href="{% static './pages/form.css' %}">

{% endblock %}

{% block static_js %}

{% load static %}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/utils/debouncing.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>

{% endblock %}


{% block content %}

    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">{{ form.title.label }}</label>
                <div class="form__field-group">
                    <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" value="{{ recipe.title }}" class="form__input">
                    <span class="form__error">{{ form.title.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag_breakfast.name }}" id="{{ form.tag_breakfast.id_for_label }}" class="tags__checkbox tags__checkbox_style_orange" {% if recipe.tag_breakfast %} checked {% endif %}>
                            <label for="{{ form.tag_breakfast.id_for_label }}" class="tags__label">{{ form.tag_breakfast.label }}</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag_lunch.name }}" id="{{ form.tag_lunch.id_for_label }}" class="tags__checkbox tags__checkbox_style_green" {% if recipe.tag_lunch %} checked {% endif %}>
                            <label for="{{ form.tag_lunch.id_for_label }}" class="tags__label">{{ form.tag_lunch.label }}</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="{{ form.tag_dinner.name }}" id="{{ form.tag_dinner.id_for_label }}" class="tags__checkbox tags__checkbox_style_purple" {% if recipe.tag_dinner %} checked {% endif %}>
                            <label for="{{ form.tag_dinner.id_for_label }}" class="tags__label">{{ form.tag_dinner.label }}</label>
                        </div>
                    </div>
                    <span class="form__error">{{ form.tag_breakfast.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        {% for ingredient in recipe.recipe_ingredients.all %}
                        <div class="form__field-item-ingredient" id="{{ ingredient.ingredient.pk }}">
                            <span> {{ ingredient.ingredient.title }} {{ ingredient.count }}{{ ingredient.ingredient.dimension }}.</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_{{ ingredient.ingredient.pk|add:'100' }}" name="nameIngredient_{{ ingredient.ingredient.pk|add:'100' }}" type="hidden" value="{{ ingredient.ingredient.title }}">
                            <input id="valueIngredient_{{ ingredient.ingredient.pk|add:'100' }}" name="valueIngredient_{{ ingredient.ingredient.pk|add:'100' }}" type="hidden" value="{{ ingredient.count }}">
                            <input id="unitsIngredient_{{ ingredient.ingredient.pk|add:'100' }}" name="unitsIngredient_{{ ingredient.ingredient.pk|add:'100' }}" type="hidden" value="{{ ingredient.ingredient.dimension }}.">
                        </div>
                        {% endfor %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error">{{ form.tag_lunch.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.time_cooking.id_for_label }}" class="form__label">{{ form.time_cooking.label }}</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="{{ form.time_cooking.id_for_label }}" name="{{ form.time_cooking.name }}" value="{{ recipe.time_cooking }}" class="form__input">
                    <label for="{{ form.time_cooking.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error">{{ form.time_cooking.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.text.id_for_label }}" class="form__label">{{ form.text.label }}</label>
                <div class="form__field-group">
                    <textarea name="{{ form.text.name }}" id="{{ form.text.id_for_label }}"  rows="8" class="form__textarea">{{ recipe.text }}</textarea>
                    <span class="form__error">{{ form.text.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {{ form.image }}
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">{{ save_button }}</button>
                {% if recipe.author == user %}
                <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe.pk %}" class="form__ingredient-link">Удалить</a>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}
